

# Ignore specific folders
anaconda3/
data/
data_analysis/
data_analytics/individual_bus_lines/
data_analytics/sample_files/

Ignore all log files in repository
*.logs

# Ignore all hidden files in repository
.*
!.gitignore
