

# Ignore specific folders
anaconda3/
data/
data_analysis/
data_analytics/individual_bus_lines/
data_analytics/sample_files/
data_analytics/bus_lines/*
data_analytics/clean_files/*
data_analytics/prediction_model/pickle_files/


Ignore all log files in repository
*.logs

# Ignore all hidden files in repository
.*

# Exceptions to the rules above (gitkeep keeps a directory)
!data_analytics/bus_lines/.gitkeep
!data_analytics/clean_files/.gitkeep



!.gitignore
