*{
    box-sizing: border-box;
    margin: 0;
	font-family: 'Libre Franklin', sans-serif;
}


.base-container {
    display: flex;
}



.sidebar {
	width: 450px;
	height: 100vh;
	background-color: white;
    flex: none;
    z-index: 100;
	overflow-y: auto;
	-webkit-transition: width 2s;
}


.sidebar-container {
    display: inline-block;
	padding: 40px 40px 0 40px;
    width: 100%;
}



.main {
	width: calc(100vw - 400px);
	height: 100vh;
    flex: 1;
}


.menu {
    width: 100%;
	height: 75px;
	background-color: #d2ebf7;
}

#map {
    width: 100%;
    height: 100%;
}


.sign-button {
    position: absolute;
    right: 0;
    top: 25px;
    right: 20px;
    width: 100px;
    height: 50px;
    background-color: aquamarine;
}


.form {
    border: 1px solid #1d53cb;
    border-radius: 20px;
    padding: 20px;
}

.logo {
    width: 80%;
    margin: 35px 0 0 30px;
}

.logo img{
    width: 300px;
}

#sign {
    position: fixed;
    top: 23%;
    left: 30%;
    width: 600px;
    height: 400px;
    background-color: white;
    padding: 75px 100px;
    font-size: 19px;
}


.shadow {
    position:fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
}

.view {
    margin-top: 20px;
}

.button-view {
    display: inline;
    width: 50%;
    height: 40px;
    margin: 0;
    border: none;
    color: white;
    background-color: #c3c3c3 ;
    font-size: 18px;
}

.button-view:hover {
    cursor: pointer;
    background-color: #b4b4b4;
}

.button-view-activate:hover {
	cursor: pointer;
}

.button-view-activate {
	display: inline;
    width: 50%;
    height: 40px;
    margin: 0;
    border: none;
    color: white;
    background-color: #b4b4b4;
    font-size: 18px;
}


.input-container {
	text-align: center;
}

.selectbox {
	margin: 20px;
}


.show-route {
	margin-top: 20px;
	border: 1px solid #1d53cb;
    border-radius: 20px;
    padding: 20px;
}

.show-route ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.show-route li {
	color: rgb(180, 180, 180);
	font-size: 13px;
	padding-bottom: 4px;
}

.start {
	color: green;
	font-weight: bold;
}


.stops-num {
	float: right;
	color: rgb(107, 147, 233);
	font-size: 15px;
}

.from-to {

	font-size: 14px;
	margin-bottom: 7px;
}

.stop-name {
	font-weight: bold;
	color: rgb(30, 97, 190);
}


.timepicker {
	width: 90%;
	margin-left: 20px;
}


.route-button {
	margin: 20px 0 0 20px;
	width: 90%;
}

.route-result {
	width: 100%;
	height: 65px;
	background-color: rgb(72, 166, 226);
}


.fa-arrow-left {
	color:  rgb(230, 230, 230);
	font-size: 35px;
	margin: 10px 0 0 20px;
	cursor: pointer;
}


.back {
	font-size: 30px;
	cursor: pointer;
	color:  rgb(230, 230, 230);
	margin: 0 0 50px 10px;
	display: inline;
}

/*DateTime Picker*/
/*Code Reference: https://github.com/YouCanBookMe/react-datetime/blob/master/css/react-datetime.css*/

/*!
 * https://github.com/YouCanBookMe/react-datetime
 */

.rdt {
  position: relative;
}
.rdtPicker {
  display: none;
  position: absolute;
  width: 250px;
  padding: 4px;
  margin-top: 1px;
  z-index: 99999 !important;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  border: 1px solid #f9f9f9;
}
.rdtOpen .rdtPicker {
  display: block;
}
.rdtStatic .rdtPicker {
  box-shadow: none;
  position: static;
}

.rdtPicker .rdtTimeToggle {
  text-align: center;
}

.rdtPicker table {
  width: 100%;
  margin: 0;
}
.rdtPicker td,
.rdtPicker th {
  text-align: center;
  height: 28px;
}
.rdtPicker td {
  cursor: pointer;
}
.rdtPicker td.rdtDay:hover,
.rdtPicker td.rdtHour:hover,
.rdtPicker td.rdtMinute:hover,
.rdtPicker td.rdtSecond:hover,
.rdtPicker .rdtTimeToggle:hover {
  background: #eeeeee;
  cursor: pointer;
}
.rdtPicker td.rdtOld,
.rdtPicker td.rdtNew {
  color: #999999;
}
.rdtPicker td.rdtToday {
  position: relative;
}
.rdtPicker td.rdtToday:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #428bca;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}
.rdtPicker td.rdtActive,
.rdtPicker td.rdtActive:hover {
  background-color: #428bca;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.rdtPicker td.rdtActive.rdtToday:before {
  border-bottom-color: #fff;
}
.rdtPicker td.rdtDisabled,
.rdtPicker td.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}

.rdtPicker td span.rdtOld {
  color: #999999;
}
.rdtPicker td span.rdtDisabled,
.rdtPicker td span.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker th {
  border-bottom: 1px solid #f9f9f9;
}
.rdtPicker .dow {
  width: 14.2857%;
  border-bottom: none;
  cursor: default;
}
.rdtPicker th.rdtSwitch {
  width: 100px;
}
.rdtPicker th.rdtNext,
.rdtPicker th.rdtPrev {
  font-size: 21px;
  vertical-align: top;
}

.rdtPrev span,
.rdtNext span {
  display: block;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

.rdtPicker th.rdtDisabled,
.rdtPicker th.rdtDisabled:hover {
  background: none;
  color: #999999;
  cursor: not-allowed;
}
.rdtPicker thead tr:first-child th {
  cursor: pointer;
}
.rdtPicker thead tr:first-child th:hover {
  background: #eeeeee;
}

.rdtPicker tfoot {
  border-top: 1px solid #f9f9f9;
}

.rdtPicker button {
  border: none;
  background: none;
  cursor: pointer;
}
.rdtPicker button:hover {
  background-color: #eee;
}

.rdtPicker thead button {
  width: 100%;
  height: 100%;
}

td.rdtMonth,
td.rdtYear {
  height: 50px;
  width: 25%;
  cursor: pointer;
}
td.rdtMonth:hover,
td.rdtYear:hover {
  background: #eee;
}

.rdtCounters {
  display: inline-block;
}

.rdtCounters > div {
  float: left;
}

.rdtCounter {
  height: 100px;
}

.rdtCounter {
  width: 40px;
}

.rdtCounterSeparator {
  line-height: 100px;
}

.rdtCounter .rdtBtn {
  height: 40%;
  line-height: 40px;
  cursor: pointer;
  display: block;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
.rdtCounter .rdtBtn:hover {
  background: #eee;
}
.rdtCounter .rdtCount {
  height: 20%;
  font-size: 1.2em;
}

.rdtMilli {
  vertical-align: middle;
  padding-left: 8px;
  width: 48px;
}

.rdtMilli input {
  width: 100%;
  font-size: 1.2em;
  margin-top: 37px;
}

.rdtTime td {
  cursor: default;
}
