[Unit]
Description=Run current_schedule.service daily

[Timer]
OnCalendar=weekly
Persistent=true
RandomizedDelaySec=true

[Install]
WantedBy=timers.target
