[unit]
Description=Start forecast api service. This starts the forecast.py module in backend, and keeps it running as a service.
             # Forecast.py makes an api request to the openweathermap website, gets in return a 5-day weather forecast
             # It then writes this forecast to the forecastWeather table in our database on the VM. New forecast fetched every 3 hours

[Service]
WorkingDirectory=/home/student/weatherapi/
Type=simple
Restart=on-failure
RestartSec=30
UMask=022
ExecStart=/home/student/anaconda3/bin/python3 forecast.py
# Killmode specifies how processes of this unit shall be killed - control-group sends kill signal to all processes in control-group
KillMode=control-group

[Install]
# This section is optional and is used to define the behavior or a unit if it is enabled or disabled

# a directory called multi-user.target.wants will be created within /etc/systemd/system (if not already available)
# and a symbolic link to the current unit will be placed within
WantedBy=multi-user.target
